<div class="row">
  <div class="col-12 mb-5">
    <div class="cart card justify-content-between">
      <div class="ribbon text-center">
        <i class="h2 bi bi-cart4 m-0"></i>
      </div>
      <div class="p-3">
        <ul class="list-unstyled mb-0">
          <ng-container
            *ngIf="inCartState$ | async as inCartState; else cartEmpty"
          >
            <li
              *ngFor="let product of inCartState; let i = index"
              class="py-3 border-bottom position-relative"
            >
              <div class="d-flex justify-content-between mb-2">
                <span class="mr-2">{{ product.inCart.name }}</span
                ><span class="cart-price font-weight-bold">{{
                  product.inCart.price - product.inCart.discount | currency
                }}</span>
                <span
                  class="badge badge-primary badge-pill position-absolute"
                  >{{ product.qty }}</span
                >
              </div>
              <span
                class="cart-remove-item text-primary font-weight-bold"
                (click)="removeProduct(i, product)"
                >Remove</span
              >
            </li>
          </ng-container>
          <li class="d-flex justify-content-between py-3">
            <strong class="mr-2">Total</strong>
            <h5 class="font-weight-bold">{{ cartTotal | currency }}</h5>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>

<ng-template #cartEmpty>
  <h5 class="text-center py-4 border-bottom position-relative">
    Your cart is empty
  </h5>
</ng-template>
