<header class="position-sticky">
  <nav class="navbar navbar-dark navbar-shadow">
    <div class="content-container navbar-expand-md">
      <a class="navbar-brand" routerLink="/">OMNI Shop</a>
      <button
        class="navbar-toggler"
        type="button"
        (click)="isNavbarCollapsed = !isNavbarCollapsed"
      >
        <span class="bi bi-list text-white"></span>
      </button>
      <div [ngbCollapse]="isNavbarCollapsed" class="navbar-collapse">
        <ul
          class="
            nav-items-wrapper
            list-unstyled
            mt-3
            ml-0 ml-md-5
            d-flex
            flex-md-row flex-column
            w-100
          "
        >
          <li class="mr-3 mb-2 mb-md-0">
            <a
              class="text-white"
              routerLink="/discounts"
              routerLinkActive="active"
              >Discounts</a
            >
          </li>
          <li class="text-white mr-3 mb-2 mb-md-0">Special offers</li>
        </ul>
        <div class="login text-white mb-3 mb-md-0">
          <a class="text-white" routerLink="/login" routerLinkActive="active"
            >Login</a
          >
        </div>
      </div>
    </div>
  </nav>
</header>
<main>
  <router-outlet></router-outlet>
</main>
<footer class="footer mt-5 bg-primary text-white">
  <div class="content-container py-5">
    <nav class="row no-gutters">
      <div
        class="
          col-12 col-md-4
          py-4
          px-md-5
          footer-items
          text-center text-md-left
        "
      >
        <h5>Link heading</h5>
        <ul class="menu-items-wrapper list-unstyled mb-0">
          <li class="mb-2">Lorem ipsum</li>
          <li class="mb-2">Lorem ipsum</li>
          <li class="mb-2">Lorem ipsum</li>
        </ul>
      </div>
      <div
        class="
          col-12 col-md-4
          py-4
          px-md-5
          footer-items
          text-center text-md-left
        "
      >
        <h5>Link heading</h5>
        <ul class="menu-items-wrapper list-unstyled mb-0">
          <li class="mb-2">Lorem ipsum</li>
          <li class="mb-2">Lorem ipsum</li>
          <li class="mb-2">Lorem ipsum</li>
        </ul>
      </div>
      <div
        class="
          col-12 col-md-4
          py-4
          px-md-5
          footer-items
          text-center text-md-left
        "
      >
        <h5>Follow us:</h5>
        <ul class="menu-items-wrapper list-unstyled mb-0 social">
          <li class="mb-2 mr-4 d-inline-block">
            <i class="bi bi-linkedin"></i>
          </li>
          <li class="mb-2 mr-4 d-inline-block">
            <i class="bi bi-facebook"></i>
          </li>
          <li class="mb-2 d-inline-block">
            <i class="bi bi-instagram"></i>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</footer>
