@use '../../mixins.scss' as mixins;

:host ::ng-deep .popover-notification {
  cursor: pointer;
  background-color: var(--orange);
  border: 0;
  .arrow {
    display: none;
  }
  .popover-body {
    font-weight: 700;
  }
}

.product {
  &-image img {
    max-height: 100%;
    max-width: 100%;
    border-radius: 8px 8px 0px 0;
  }

  &-text {
    padding: 10px 15px;
    background: #fff;
    font-size: 14px;
    color: var(--gray-dark);
  }

  &-price {
    color: #000;
    &--discounted {
      text-decoration: line-through;
      color: var(--orange);
    }
  }

  &-button {
    @include mixins.highlighter(0, 0, 8px, 8px);
    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: var(--white);
    }
    &:active {
      opacity: 0.9;
    }
    &:disabled {
      background-color: var(--gray);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}
