/* You can add global styles to this file, and also import other style files */
@use "./mixins.scss" as mixins;

$theme-colors: (
  "primary": #1f487e,
);

/* Importing Bootstrap SCSS file. */
@import "~bootstrap/scss/bootstrap";
@import "~bootstrap-icons/font/bootstrap-icons.css";

html,
body {
  font-family: "Open Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  height: 100%;
}

/*sticky footer fix*/
app-root {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.content-container {
  @extend .container-lg;
  max-width: 1300px;
}

header {
  top: 0;
  z-index: 2;
}

.navbar {
  background-color: var(--primary);
  &-shadow {
    box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.4);
  }
}

.main-title {
  margin-block: 4rem;
}

main {
  .ribbon {
    @include mixins.highlighter(8px, 8px, 0, 0);
  }
  .card {
    width: 100%;
    border: 0;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 8px;
  }
  .primary-button {
    @include mixins.highlighter(0, 0, 8px, 8px);
    &:hover {
      text-decoration: none;
      opacity: 0.8;
      color: var(--white);
    }
    &:active {
      opacity: 0.9;
    }
    &:disabled {
      background-color: var(--gray);
      pointer-events: none;
      cursor: not-allowed;
    }
  }
}

.social li {
  font-size: 30px;
  cursor: pointer;
}

.footer-items {
  border-bottom: 1px dashed var(--white);
  &:last-of-type {
    border-bottom: none;
  }
  @include media-breakpoint-up(md) {
    border-left: 1px dashed var(--white);
    border-bottom: none;
    &:last-of-type {
      border-right: 1px dashed var(--white);
    }
  }
}
