<form class="form" [formGroup]="searchForm" novalidate>
  <div class="form-group">
    <label>Search products</label>
    <input
      type="search"
      class="form-control"
      placeholder="Product name"
      formControlName="searchQuery"
    />
    <small class="form-text text-muted"
      >You must enter at least 4 characters</small
    >
  </div>
</form>

<ng-container *ngIf="noProducts">
  <h3>There are no products for your search query</h3>
</ng-container>

<ng-container *ngIf="foundProducts > 0">
  <h5>There are {{ foundProducts }} products that match your query</h5>
</ng-container>
